# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# Schema files in distribution directory
lib/**/*.graphql

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/

#Environment variables
./env